<!DOCTYPE html>
<html class="has-background-grey-lighter">
  <head>
    <title>Carbon Reddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap" rel="stylesheet">
  </head>

  <body data-controller="navbar-toggle">
    <%= render partial: "shared/navbar" %>
    <div class="container is-max-widescreen">
      <div class="container is-fluid">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
